<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/lista.css">
    <title>lista</title>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/">MCU</a>
            <div class="menu">
            <div class="line1"></div>
            <div class="line2"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/criar">Cadastrar</a></li>
            </ul>
        </nav>
    </header>
  <section>
    <% filmes.forEach(item => { %>
    <a href="/detalhes/<%= item.id %>">
       <div id= "lista"> 
           <img src= "<%= item.imagem %>">
        <h2>Nome:<%= item.nome %></h2>
       </div>
    <% }) %>
</section>
    <main></main>
</body>
</html>