<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/lista.css">
    <title>lista</title>
</head>
<body>
    <section id="a">
    <a type ="submit" href="/lista" >Inicio</a>
    <a type ="submit" href="/criar">Cadastrar</a>
    <a type ="submit" href="/detalhes" >Detalhes</a>
    <a type ="submit" href="/editar">Filmes</a>
    </section>
        
    <section id="titulo">
         <h1>MCU -  Marvel Cinematic Universe </h1>
    </section>
</body>
</html>