a{
    color:black;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    color:rgb(9, 110, 110);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height:8vh;

}

main{
    background: url("bg.jpg") no-repeat center center;
    background-size:cover;
    height: 92vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list{
    letter-spacing: 3px;
    margin-left: 32px;
}

.menu div{
    display:none;
    cursor: pointer;
}

.menu div{
    width: 32px;
    height: 2px;
    background:#fff;
    margin:8px;
}

@media (max-width: 999px){
    body{
        overflow-x:hidden;
    }
    .nav-list{
        position:absolute;
        top:8vh;
        right: 0;
        width: 50vw;
        height: 92vw;
        background:#232323;
        flex-direction: column;
        align-items:center;
        justify-content: space-around;
        transform:translateX(100%);
    }
    .nav-list li{
        margin-left: 0;
    }
   .menu{
       display:block;
   }
}

.nav-list.active{
    transform:translateX(0);
}


body{ 
    background-image: url(../IMG/HF.jpg);
	display: flex;
    position: relative;
    height: auto;
    width: auto;
    background-size: cover;
    padding-top: 40px;
    margin-left: 300px;
}